In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c'],
    'C': [4.1, 5.2, 6.3],
    'D': [True, False, True]
})

# inplace=True - –º–µ–Ω—è–µ—Ç —Å–∞–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, –∞ –Ω–µ —Å–æ–∑–¥–∞–µ—Ç –∫–æ–ø–∏—é
# append=True - –ò–∑–Ω–∞—á–∞–ª—å–Ω—ã–π –∏–Ω–¥–µ–∫—Å —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç—Å—è, –∞ –Ω–æ–≤—ã–π –¥–æ–±–∞–≤–ª—è–µ—Ç—Å—è –∫ –Ω–µ–º—É

df.set_index(['B', 'D'], inplace=True)
print(df)

         A    C
B D
a True   1  4.1
b False  2  5.2
c True   3  6.3

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c'],
    'C': [4.1, 5.2, 6.3],
    'D': [True, False, True]
})

# –ü–æ–ª—É—á–∞–µ–º —Å—Ç—Ä–æ–∫—É —Å –∏–Ω–¥–µ–∫—Å–æ–º 0
row_list = df.iloc[0].tolist()

print(row_list[0])  # üëâ [1, 'a', 4.1, True]

1

In [9]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c'],
    'C': [4.1, 5.2, 6.3],
    'D': [True, False, True]
})
print(df)
# –í–µ—Ä–Ω–µ—Ç –°–µ—Ä–∏—é. –í —Ü–∏–∫–ª–µ for –±—É–¥–µ—Ç –≤–æ–∑–≤—Ä–∞—â–∞—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è.
for ser in df['B']:
    print(ser, "series")

# –í–µ—Ä–Ω–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º.
df[['A', 'B']]

   A  B    C      D
0  1  a  4.1   True
1  2  b  5.2  False
2  3  c  6.3   True
a series
b series
c series

   A  B
0  1  a
1  2  b
2  3  c

In [8]:
# –Ω–æ–≤–∞—è –∫–æ–ª–æ–Ω–∫–∞ —Å–æ –ó–∞–¥–∞—Ç—å –Ω–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è —Å—Ç–æ–ª–±—Ü–∞
df['new_col'] = [i for i in range(1, 4)]
# print(df)

# –ö–æ–ø–∏—Ä—É–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –∏–∑ –æ–¥–Ω–æ–π –∫–æ–ª–æ–Ω–∫–∏ –≤ –¥—Ä—É–≥—É—é.
df['col_T'] = df['B']
# print(df)

In [ ]:
# –î–æ–ª–∂–Ω–æ –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤.
# –ü—Ä–∏—Å–≤–∞–µ–≤–∞–µ–º –Ω–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ 100.
df[[False, True, True]] = 100
print(df)


new_col = df[[False, True, True]][['new_col']]
print(new_col)

In [ ]:
# –ü–æ–ª—É—á–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É
# –í–∫–∞—á–µ—Å—Ç–≤–µ –∏–Ω–¥–µ–∫—Å–∞ –∫–æ–ª–æ–Ω–∫–∞ –ê.
df.A