In [98]:
import sqlite3 as sq
import pandas as pd


def create_table(db="file/book_db.db", path="file/book_data.csv", table_name="books"):
    """
    sq.connect(db) - Создания подключения к базе данных
    pd.read_csv(path) - Четение файла csv
    df.to_sql(table_name, con, if_exists="replace", index=False) - Запись в базу данных
    con.close() - Закрытие подключения к базе данных
    """
    con = sq.connect(db)
    df = pd.read_csv(path)
    df.to_sql(table_name, con, if_exists="replace", index=False)

    con.close()


create_table()

# sql Запрос для чтения таблицы
sql_request = """SELECT * FROM books"""

In [ ]:
def read_table(db="file/book_db.db", table_name="books"):
    """
    Если у тебя уже есть готовая SQLite база (book_db.db), то pd.read_csv использовать не нужно. Надо читать данные через SQL:"""
    con = sq.connect(db)
    df = pd.read_sql(f"SELECT * FROM {table_name}", con)  # читаем таблицу напрямую
    con.close()
    return df

In [ ]:
df = pd.read_csv("file/book_data.csv")

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [97]:
# sql Запрос для чтения таблицы
# pd.read_sql( - Чтение из базы данных

def read_sql(file_db="file/book_db.db", sql_request="""SELECT * FROM books"""):
    """
    with sq.connect( - Подключение к базе данных 
    pd.read_sql( - Чтение из базы данных
    con - Подключение к базе данных
    index_col='user_typ' - Индекс столбцов которы я хочу.
    index_col=['user_typ', 'user_id'] - Список столбцов. Мульту индекс
    """
    
    with sq.connect(file_db) as con:
        df_sql = pd.read_sql(sql_request, con, index_col=['user_typ', 'user_id'])
        
        
    return df_sql

if __name__ == "__main__":
    log = read_sql()
    print(log.head())

DatabaseError: Execution failed on sql 'SELECT * FROM books': no such table: books

In [96]:
sql_request="""SELECT * FROM books"""


def df_to_sql(df: pd.DataFrame):
    """
    if_exists='fail' - Если таблица существует, то ошибка
    if_exists='replace' - Заменяет таблицу
    if_exists='append' - Добавляет данные в таблицу
    
    index=False - Не сохраняет индекс. 
    """
    df_sql = df
    
    with sq.connect("file/book_db.db") as con:
        df_sql.to_sql("books", con, if_exists='replace')
    print(df_sql.head())

if __name__ == "__main__":
    with sq.connect("file/book_db.db") as con:
        df_sql = pd.read_sql("""SELECT * FROM books""", con)

DatabaseError: Execution failed on sql 'SELECT * FROM books': no such table: books